@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
#logo_img{
    width:100%;
}
#Navbar{
    position:fixed;
}
.container-fluid{
    border: 1px solid red;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#first_div{
    display:flex;
    width: 40%;
}
#first_div>div{
    width:15%;
}
.container-fluid>div{
    width: 10%;
    /* border: 1px solid rgb(0, 255, 17); */
    align-items: center;
}
#img_div{
    /* border: 1px solid green; */
}
.fa-magnifying-glass{
    display:inline;
    margin-left: 10px;
}
#search_div{
    width: 15%;
}
#search_div>button{
    width: 100%;
}

#Label{
    width:80px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s
}

#Label:after {
    content: "";
    width:25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left:3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s
}
  
#darkmode-Toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #darkmode-Toggle:checked + #Label {
    background: #242424;
  }
  
  #darkmode-Toggle:checked + #Label:after {
    left:80px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #Label, #Label:after {
    transition: 0.3s
  }
  #Label:active:after{ 
    width: 50px; 
  }
  #main{
        background: #ffffff;
        transition: 0.3s;
        width: 100vw;
        z-index:-1;
        position: absolute;
  }
  #darkmode-Toggle:checked + #Label + #main{
    background-color:#242424;
  }
  label svg{
    position: absolute;
    width: 25px;
    top: 2px;
    z-index: 100;
  }
  label svg.sun{
    left:3px;
    fill:white;
    transition:0.3s;
  }
  label svg.moon{
    left:55px;
    fill:#7e7e7e;
    transition:0.3s;
  }
  input:checked +label svg.sun{
    fill: #7e7e7e;
  }
  input:checked +label svg.moon{
    fill: #fff;
  }
  #first_row{
    display:flex;
    width:90%;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
  }
  #first_row>div:nth-child(1){
    width:30%;
    /* border:1px solid green; */
  }
  #first_row>div:nth-child(2){
    width:65%;
    /* border:1px solid green; */
  }
  #first_row>div:nth-child(2)>img{
    width:100%;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-left:-80px; */
    align-items:center;
    justify-content: center;
    text-align: center;
  }
  .typedtext {
    margin-top: 20%;
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(33, 33, 33);
    /* margin-left: -30px; */
    word-break: normal;
    color: #000;
    display: block;
    font-family:IBMPlexMono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: black;
    }
    to {
      border-right-color: transparent;
    }
  }
  #Api{
    text-align: center;
  }
  #Api_content{
    text-align:justify;
  }
  #email_div{
    /* border: 1px solid red; */
    display:flex;
    justify-content: s
  }
  #email_div>div:nth-child(1){
    width:60%;
  }
  #email_div>div:nth-child(2){
    margin-left: -30px;
    width:30%;
  }
  .mb-3{
    color:white;
    border-radius: 0%;
    background: #FFB84C;
  }
  .form-control{
    border-radius: 0%;
  }