#logo_img{
    width:100%;
}
header{
    position:fixed;
    z-index:9999;
}
.container-fluid{
    border: 1px solid red;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#first_div{
    display:flex;
    width: 40%;
}
#first_div>div{
    width:15%;
}
.container-fluid>div{
    width: 10%;
    border: 1px solid rgb(0, 255, 17);
    align-items: center;
}
#img_div{
    border: 1px solid green;
}
.fa-magnifying-glass{
    display:inline;
    margin-left: 10px;
}
#search_div{
    width: 15%;
}
#search_div>button{
    width: 100%;
}

#Label{
    width:80px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s
}

#Label:after {
    content: "";
    width:25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left:3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s
}
  
#darkmode-Toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #darkmode-Toggle:checked + #Label {
    background: #242424;
  }
  
  #darkmode-Toggle:checked + #Label:after {
    left:80px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #Label, #Label:after {
    transition: 0.3s
  }
  #Label:active:after{ 
    width: 50px; 
  }
  #main{
        background: #ffffff;
        transition: 0.3s;
        width: 100vw;
        height:100vh;
        z-index:-1;
        position: absolute;
  }
  #darkmode-Toggle:checked + #Label + #main{
    background-color:#242424;
  }
  label svg{
    position: absolute;
    width: 25px;
    top: 2px;
    z-index: 100;
  }
  label svg.sun{
    left:3px;
    fill:white;
    transition:0.3s;
  }
  label svg.moon{
    left:55px;
    fill:#7e7e7e;
    transition:0.3s;
  }
  input:checked +label svg.sun{
    fill: #7e7e7e;
  }
  input:checked +label svg.moon{
    fill: #fff;
  }
