@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
html::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  border-radius: 15px 15px 15px 15px; 
}

html::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgb(153, 255, 0) 50%, rgb(250, 190, 61) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh rgb(255, 255, 255);
  border-radius: 10px;
}
.vscrollbar
{
overflow-x: hidden; /*for hiding horizontal scroll bar*/
overflow-y: auto; /*for vertical scroll bar*/
}

#logo_img{
    width:100%;
}
#img_div{
  border-top: 1px solid  rgb(39, 39, 39);
  border-right: 1px solid rgb(39, 39, 39);
  border-left: 1px solid rgb(241, 155, 6);
  border-bottom: 1px solid rgb(241, 155, 6);
  border-radius: 2px;
}
#Navbar{
    position:fixed;
    /* border: 1px solid green; */
    z-index: 9000;
    width:100%;
    align-items: center;
}
.navbar{
  min-height:5px;
}
.navbar  a {
  font-size: 11.2px;
}

.container-fluid{
    /* border: 1px solid red; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.container-fluid>div{
  /* border: 2px solid red; */
}
#first_div{
    display:flex;
    width: 30%;
    justify-content: space-between;
}
#first_div>div{
    width:20px;
    /* border: 1px solid green; */
}
.container-fluid>div{
    width: 10%;
    /* border: 1px solid rgb(0, 255, 17); */
    align-items: center;
    align-self: center;
}
.container-fluid button{
  background-color: white;
  border:none;
  outline: none;
}
.fa-magnifying-glass{
    display:inline;
    margin-left: 10px;
}
#search_div{
    width: 20%;
}
#search_div>button{
    width: 100%;
    border-radius: 2px;
    border: 1px solid grey;
}
#sign_in_div{
  width: 10%;
}
#sign_up_div{
  width:15%;
}
#signup_btn{
  background-color:#fb9820;
  color: white;
  border-radius: 2px;
  outline: none;
  width: 100%;
  margin-left:5%;
}
#signin_btn{
  border-radius: 2px;
  border: 1px solid grey;
  width: 100px;
  margin:auto;
  margin-left: 10%;
  margin-right: 10%;
}

#Label{
    width:70px;
    height:25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    margin: auto;
    margin-bottom: 20%;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s
}

#Label:after {
    content: "";
    width:20px;
    height: 20px;
    position: absolute;
    top: 2.5px;
    left:3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s
}
  
#darkmode-Toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #darkmode-Toggle:checked + #Label {
    background: #242424;
  }
  
  #darkmode-Toggle:checked + #Label:after {
    left:70px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #Label, #Label:after {
    transition: 0.3s
  }
  #Label:active:after{ 
    /* width: 50px;  */
  }
  #main{
        background: #FFFFFF;
        transition: 0.3s;
        z-index:-1;
        position: absolute;
  }
  #darkmode-Toggle:checked + #Label + #main{
    background-color:#242424;
  }
  label svg{
    position: absolute;
    width: 20px;
    top: 3px;
    z-index: 100;
  }
  label svg.sun{
    left:3px;
    fill:white;
    transition:0.3s;
  }
  label svg.moon{
    left:50px;
    fill:#7e7e7e;
    transition:0.3s;
  }
  input:checked +label svg.sun{
    fill: #7e7e7e;
  }
  input:checked +label svg.moon{
    fill: #FFFFFF;
  }
  .hamburger{
    display:none;
    background-color: white;
    cursor: pointer;
  }
  .bar{
    display:block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(8, 8, 8);
  }
  @media(max-width:980px){
    .hamburger{
      display:block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .container-fluid{
      position:fixed;
      left: -100%;
      top: 70px;gap:0;
      flex-direction: column;
      width:100%;
      text-align: center;
      transition: 0.3s;
      background-color: white;
      /* border: 1px solid red; */
    }
    .container-fluid>div{
      /* border: 1px solid green; */
      margin: auto;
    }
    #search_div{
      display:none;
    }
    #first_div>div{
      margin: auto;
    }
    #logo_img{
      width:70%;
       }
    #img_div{
      width: 30%;
      margin:auto;
      /* border:1px solid green; */
       }
    #first_div{
      margin-top: -20px;
      display:block;
      /* border: 1px solid red; */
      margin:auto;
    }
    #first_div>div{
      margin-left: 35%;
    }
    #first_div>div:nth-child(3){
      margin-left: 38%;
    }
    .container-fluid>div{
      margin: 16px 0;
    }
    .container-fluid.active{
      Left:0;
    }
    #signin_btn,#signup_btn{
      width: 200px;
      text-align: center;
      margin-left: -40%;
    }
    #signin_btn{
      margin-left: -85%;
    }
  }

  @media (max-width: 920px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
  #first_row{
    display:flex;
    width:90%;
    margin: auto;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
  }
  #first_row>div:nth-child(1){
    width:30%;
    /* border:1px solid green; */
  }
  #first_row>div:nth-child(2){
    width:65%;
    /* border:1px solid green; */
  }
  #first_row>div:nth-child(2)>img{
    width:100%;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-left:-80px; */
    align-items:center;
    justify-content: center;
    text-align: center;
  }
  .typedtext {
    margin-top: 20%;
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(33, 33, 33);
    /* margin-left: -30px; */
    word-break: normal;
    color: #000;
    display: block;
    font-family:IBMPlexMono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: black;
    }
    to {
      border-right-color: transparent;
    }
  }
  #Api{
    text-align: center;
  }
  #Api_content{
    text-align:justify;
  }
  #email_div{
    /* border: 1px solid red; */
    display:flex;
    justify-content: s
  }
  #email_div>div:nth-child(1){
    width:70%;
  }
  #email_div>div:nth-child(2){
    margin-left: -30px;
    width:30%;
  }
  #mb-3{
    color:white;
    border-radius: 0%;
    background: #fb9820;
    height:38px;
    width: 150px;
  }
  .form-control{
    border-radius: 0%;
  }
  #download_p{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
  }
  #download{
    display:flex;
    justify-content: space-between;
    width: 40%;
  }
  #second_row{
    background-color: #F9F9F9;
    width:100vw;
    padding-bottom: 100px;
  }
  #second_row_1_div{
    /* border:1px solid red; */
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
  }
  #second_row_1_div>div{
    width: 50%;
    /* border:1px solid green; */
    margin-top: 80px;
  }
  #second_row_1_div>div:nth-child(2){
    margin-top: -80px;
    width:30%;
  }
  #second_row_1_div>div:nth-child(2)>img{
    width:80%;
  }
  #s_row_h1{
    margin: 0px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 24px;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    letter-spacing: -0.72px;
  }
  #s_row_p{
    margin: 0px;
    color: rgb(107, 107, 107);
    max-width: 80ch;
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    margin-top: 20px;
  }

  #s_s_1_div svg{
    width: 40px;
  }

  #second_row_2_div{
    padding-top: 50px;
    width: 90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
  }
  #second_row_2_div>div{
    width:22%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .h_s_s_d{
    margin: 0px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 16px;
    line-height: 1.28;
    color: rgb(33, 33, 33);
    letter-spacing: -0.12px;
  }
.p_s_s_d{
  font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
}

#third_row{
  width:70%;
  /* border:1px solid red; */
  margin:auto;
  margin-top: 50px;
}

#Fourth_row{
  margin-top: 25px;
  width:100%;
  background-color: #F9F9F9;
  display:flex;
  justify-content: space-between;
}
#Fourth_row>div{
  padding: 40px;
  width:40%;
}
#f_r_h,#collapse_h{
  margin: 0px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 26px;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    letter-spacing: -0.72px;
}
#f_r_p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: rgb(107, 107, 107);
    word-break: normal;
}
#third_row{
  width:70%;
  /* border:1px solid red; */
  margin:auto;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
  display:flex;
}
#third_row img{
  margin-top: 10%;
  width: 50%;
}
.carousel{
  width: 40%;
  height: 300px;
  /* border:1px solid red; */
}
.card-body{
  width: 400px;
  border:1px solid #fb9820;
}
.btn-primary{
  width:200px;
  outline:none;
  font-size: 12px;
  background-color: #fb9820;
  border:none;
}
.btn-primary:hover{
  background-color:#ffad49;
  border:none;
  border-color: white !important;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

#collapse_h{
  margin-bottom: 10px;
  text-align: center;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
    
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}


#fifth_row{
  margin:auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,150px);
  margin-top: 2%;
  width: 80%;
  gap: 30px;
}
#fifth_row>div{
  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#fifth_row img{
  width: 40px;
}
#fifth_row svg{
  width: 20px;
  margin-top: -400px;

}
#view_p{
  margin-top: -410px;
  margin-left: 25%;
}
.F_r_headline{
  margin-left: 1%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  word-break: normal;
  font-size: 18px;
  line-height: 1.44;
  color: rgb(33, 33, 33);
  letter-spacing: -0.12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.fifth_row_p{
  margin-left:13%;
    color: rgb(33, 33, 33);
    max-width: 80ch;
    font-size: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#sixth_row{
  margin-top: -100px;
  width: 100%;
  padding: 50px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#sixth_row>div:nth-child(1){
  width:30%;
}
#sixth_row>div:nth-child(2){
  width:60%;
}
/***************************************************************** Footer **************************************************************************************************/
#footer{
  /* border:1px solid red; */
  display:flex;
  margin-top: 20px;
  justify-content: space-between;
}
#footer>div{
  /* border: 1px solid green; */
  padding: 50px;
}
#footer>div:nth-child(1){
  width:30%;
  text-align: center;
}
#footer>div:nth-child(2){
  width:70%;
  display:flex;
  justify-content: space-around;
}
#footer>div:nth-child(2)>div{
  /* border: 1px solid yellow; */
  
}
#footer>div:nth-child(2) ul{
  margin-left:-24%;
}
.footer_img{
  text-align: center;
  width: 200px;
  height: 220px;
}
#footer>div:nth-child(2) li{
  list-style: none;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
  color: rgb(107, 107, 107);
  word-break: normal;
}
#copyright_div{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
  font-weight: 400;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
  color: rgb(107, 107, 107);
  word-break: normal;
}
#copyright_div svg{
  fill: rgb(56, 56, 56);
}

.socials{
  margin-bottom: 10px;
  display: inline;
}
#copyright_div svg{
  margin-bottom: -2px;
}
#footer ul{
    margin-top: 15px;
    margin-right: 0px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    word-break: normal;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: -0.12px;
    color: rgb(107, 107, 107);
    margin-bottom: 12px !important;
}
#f_2_div>div{
  /* border: 1px solid red; */
  width: 20%;
  
}