* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#container {
  width: 80%;
  margin: auto;
}
#main {
  border: 1px solid red;
}

#request {
  border: 1px solid green;
}
/* api method */
#apiMethod {
  border: 1px solid;
}
#apiMethod > form {
  border: 1px solid orange;
  width: 100%;
}

#apiMethod > form > select {
  width: 100px;
  font-size: 16px;
  outline: none;
}
#apiMethod > form > input:nth-child(2) {
  width: 82%;
  font-size: 16px;
  outline: none;
}
#apiMethod > form > input {
  width: 100px;
  font-size: 16px;
  outline: none;
}

/* requestTabs */
#requestTabs {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
#requestTabs > button {
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

/* reponseAndReqData */
#reponseAndReqData {
  padding: 5px;
}
#reqData {
  padding: 10px 5px;
  height: 300px;
}

/*  ReqData > headers  */
table {
  width: 100%;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
td {
  height: 27px;
  white-space: pre-wrap;
  word-break: break-all;
  width: 200px;
  max-width: 200px;
  outline: none;
}
td > input {
  width: 90%;
  border: none;
  outline: none;
}

#insertRowDiv {
  text-align: center;
  margin-top: 20px;
}
#insertRowBtn {
  font-size: 15px;
  padding: 2px 7px;
  cursor: pointer;
}
