#container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#container>div:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    /* border: 1px solid; */
    width: 22%;
}

#container>div:nth-child(2) {
    width: 75%;
}

.apipara {
    display: flex;
    justify-content: space-between;
    border: 1px solid saddlebrown;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 2px;
    margin: 2px;
}

.apipara>h4:nth-child(1) {
    width: 18%;
    border-radius: 4px;
    border: 1px solid green;
    background-color: lightgreen;
}

.apipara>p:nth-child(2) {
    width: 70%;
}

.apipara>button:nth-child(1) {
    width: 10%;
    border-radius: 4px;
    border: 1px solid orangered;
    background-color: orange;
}