:root{
    --orange: rgb(247, 76, 14);
    --hoverorange: rgb(170, 45, 0);
    --background: white;
}

.container {
    font-family: Inter, "Open Sans", sans-serif;
    background-color: rgb(242, 242, 242);
    padding-top: 70px;
  }
  
  .main {
    width: 62%;
    display: flex;
    margin: auto;
    background-color: var(--background);
  }
  
  .part1 {
    padding: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  button {
    cursor: pointer;
  }
  
  .part2 {
    width: 70%;
    padding: 45px 45px 10px 45px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .part2>div {
    display: flex;
    justify-content: space-between;
    border: 0px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .part2>div>a {
    align-self: center;
  }
  
  a {
    text-decoration: none;
    color: rgb(57, 127, 241);
    font-weight: 600;
    transition: 0.3s;
  }
  a:hover {
    color: rgb(0, 61, 160);
  }
  
  input {
    background-color: rgb(250, 250, 250);
    padding: 8px 5px 8px 10px;
    width: 95%;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 6px;
    font-size: larger;
  }
  
  input:focus {
    outline: none !important;
    border: 1px solid var(--orange);
  }
  
  button {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    font-size: 120%;
    border: 0px solid var(--orange);
  }
  
  .btn {
    color: white;
    background-color: var(--orange);
    border-radius: 5px;
    transition: 0.3s;
  }

  .btn:hover{
    background-color: var(--hoverorange);
  }
  
  .gbtn {
    color: white;
    background-color: rgb(57, 127, 241);
    border-radius: 5px;
    transition: 0.3s;
  }
  .gbtn:hover {
    color: white;
    background-color: rgb(0, 61, 160);
  
    border-radius: 5px;
  }

  .gitbtn{
    background-color: black;
    color: white;
  }
  
  .head {
    font-size: 130%;
    font-weight: 700;
  }
  
  .c {
    text-align: center;
  }
  
  .svg {
    margin-top: 60px;
  }