* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#container {
  width: 80%;
  margin: auto;
}

#main {
  border: 1px solid red;
}

#request {
  border: 1px solid green;
}

/* api method */
#apiMethod {
  border: 1px solid;
}

#apiMethod>form {
  border: 1px solid orange;
  width: 100%;
}

#apiMethod>form>select {
  width: 100px;
  font-size: 16px;
  outline: none;
}

#apiMethod>form>input:nth-child(2) {
  width: 82%;
  font-size: 16px;
  outline: none;
}

#apiMethod>form>input {
  width: 100px;
  font-size: 16px;
  outline: none;
}

/* requestTabs */
#requestTabs {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

#requestTabs>button {
  border: none;
  background-color: white;
  padding: 1%;
  font-size: 16px;
  cursor: pointer;
}

#reponseAndReqData {
  padding: 5px;
}

 #reqData {
  padding: 10px 5px;
  height: 300px;
  overflow-y:auto;
  /* border: 2px solid black; */
}

table {
  width: 100%;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td {
  height: 27px;
  white-space: pre-wrap;
  word-break: break-all;
  width: 200px;
  max-width: 200px;
  outline: none;
}

td>input {
  width: 90%;
  border: none;
  outline: none;
}

#insertRowDiv {
  text-align: center;
  margin-top: 20px;
}

#insertRowBtn {
  font-size: 15px;
  padding: 2px 7px;
  cursor: pointer;
}

.editor {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  font-family: monospace;
  line-height: 21px;
  background-color: #282a3a;
  border-radius: 2px;
 
}

textarea {
  line-height: 21px;
  background-color: transparent;
  padding: 0;
  border: 0;
  color: #FFF;
  outline: none;
  resize: none;
  width: 100%;
}

.line-numbers {
  width: 20px;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: orange;
  font-size: medium;
}
