* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#container {
  width: 80%;
  margin: auto;
}
/* #main {
  border: 1px solid red;
} */

/* #request {
  border: 1px solid green;
} */
/* api method */
/* #apiMethod {
  border: 1px solid;
} */
#apiMethod > form {
  margin-top: 2%;
  /* border: 1px solid orange; */
  width: 100%;
}

#apiMethod > form > select {
  width: 100px;
  font-size: 16px;
  outline: none;
}
#apiMethod > form > input:nth-child(2) {
  width: 82%;
  font-size: 16px;
  outline: none;
}
#apiMethod > form > input {
  width: 100px;
  font-size: 16px;
  outline: none;
}

/* requestTabs */
#requestTabs {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
#requestTabs > button {
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

/* **********************************************************reponseAndReqData*********************************************************** */
#reponseAndReqData {
  padding: 5px;
}
#reqData {
  padding: 10px 5px;
  height: 300px;
  overflow: auto;
}

/*  **************************ReqData > headers************************  */
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
td {
  height: 27px;
  word-break: break-all;
  width: 200px;
  max-width: 200px;
  outline: none;
}

td:nth-child(4) {
  width: 10px;
  text-align: center;
}
td:nth-child(4) > i {
  font-size: 20px;
}
.hide {
  display: none;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}
.rowDelete {
  cursor: pointer;
}
#insertRowDiv {
  text-align: center;
  margin-top: 20px;
}
#insertRowBtn {
  font-size: 15px;
  padding: 2px 7px;
  cursor: pointer;
}

/*************************************** ReqData > JSON and TEXT section ******************************************/

.editor {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  font-family: monospace;
  line-height: 21px;
  background-color: #282a3a;
  border-radius: 2px;
  /* border: 1px solid red; */
 
}

textarea {
  line-height: 21px;
  background-color: transparent;
  padding: 0;
  border: 0;
  color: #FFF;
  /* outline: none; */
  resize: none;
  width: 100%;
}

.line-numbers {
  width: 20px;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: orange;
  font-size: medium;
}

#response{
  word-wrap:break-word;
  overflow-y: auto;
  padding: 2%;
}

#responseOutsideDiv{
  border: 2px solid black;
  font-size: large;
  height: 45vh;
}

#statusBox{
  display: flex;
 justify-content: space-around;
}

#statusBox>div{
  display: flex;
}